#index_content{
  font-family: "tahoma", sans-serif;
}

#index_content h2,h3{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-size : 32px;
}

#index_content h4{
  text-align: center;
  background-color: #819FF7;
}

#index_affichage_produit h2{
    margin-top: 0px;
    background-color: #819FF7;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#index_affichage_produit{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#index_affichage_produit .produit{
  border: 2px solid #BDBDBD;
  border-radius: 0px 0px 15px 15px;
  width: 300px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  padding: 0px;
  margin-top : 20px;
  background-color: #fff;
}

#index_affichage_produit .description{
    display: none;
}

#index_affichage_info{
  width: 500px;
  text-align: center;
  border: 1px dotted #666;
  margin: 100px;
}


#index_affichage_produit .addBasket{
  display: none;
}

#index_affichage_produit img{
  margin-top: 10px;
  width: 150px;
  height: 150px;
  max-width: 80%;
  min-width: 20%;
}
