*{
  margin:0px;
  padding: 0px;
}

#content{
  width: 80%;
  margin: auto;
}

#content nav{
  background-color:#FF9800;
}

#content nav img{
  height: 80px;
}

#content nav ul{
  list-style-type: none;
  float: right;
}

#content nav ul li{
  float: left;
  padding-left: 10px;
  line-height: 80px;
  
}
#background img{
  height:500px;
  width: auto;
background-image: url(../IMG/jouet2.jpeg);
background-attachment:fixed;
  }
