*{
  margin:0px;
  padding: 0px;
}
                        /* mise en page du contenu-----------------------------*/
body{
  background-image: url("../img/jouet2.jpeg");
  background-attachment:fixed;
  background-size: contain;
  }

#content, #mainmenu{
    width: 80%;
    min-width : 1050px;
    background-color: hsla(0, 0%, 100%,0.7);
}

#content{
  margin: auto;
  padding-top:60px;
  position:relative;

}
                  /*fin de la mise en page du contenu-------------------------*/

                  /*mise en style de la navbar---------------------------------*/
#mainmenu{
  background-color:#33bbff;
  position:fixed;
  top:0px;
  height: 60px;
  z-index: 900;
}

#mainmenu img{
  height: 60px;
}

#mainmenu ul{
  list-style-type: none;
  float: right;
}

#mainmenu ul li{
  float: left;
  border-left: 1px solid #BDBDBD;
  width: 100px;
  height: 60px;
  position: relative;
}

#mainmenu ul li a{
  display: table-cell;
  width: inherit;
  height: inherit;
  text-align: center;
  vertical-align: middle;
  text-decoration:none;
  color:#fff;
  font-family: sans-serif;
  font-variant: normal;
}

#mainmenu ul li i{
    display: table-cell;
    width: inherit;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    font-size : 30px;
    cursor: pointer;
}

#mainmenu ul li a:hover{
  font-weight: bold;
  background-color: rgba(255,224,178,0.3);
}

#mainmenu #basket{
    position: fixed;
    left: 0px;
    width: 300px;
    height: 0px;
    overflow: hidden;
    transition: height 1s;
    z-index: 950;
    background-color: white;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #BDBDBD;
    border-radius: 0px 0px 0px 30px;
    list-style-type: none;
    text-align: left;
    float: none;
    clear: both;
}

#mainmenu #basket li{
    line-height: 50px;
    height: 50px;
    width: 100%;
    float: none;
    clear: both;
    border-width: 0px;
    width: auto;
    font-size: 18px;
}

#mainmenu #basket li img{
    height: 50px;
}

#mainmenu #basket li .titre{
    height: 50px;
    width: 170px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#mainmenu #basket li .prix{
    height: 50px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#mainmenu #basket li .trash{
    height: 50px;
    line-height: 50px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}


/*-------------------------fin de la -mise en style de la navbar----------------*/

                          /*mise en style du pied de page-----------------------*/
footer{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #ffe0b2;
  text-decoration:none;
  color:#212121;
  font-family: sans-serif;
  margin-bottom: auto;
  width: 100%;
  height : auto;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 10px;
}
footer a, a:hover {
  text-decoration: none;
  color: #111;
}

footer li{
  line-height: 14px;
 ;
  list-style-type: none;
  text-decoration: none;
}


                    /*fin de la mise en style du pied de page (footer)-------------*/

                    /*mise en style du bouton haut de page (back to top )-----------*/
#top{
  z-index: 900;
  position:fixed;
  bottom: 10px;
  right: 20px;
  background-color: rgba(255,224,178,0.5);
  border-radius: 20px;
  cursor: pointer;
  transition: all 1s;
}
#top:hover{
  background-color: rgba(255,224,178,0.9);
}


#top img{
  transform: rotate(90deg);
  margin: 10px;
}
                        /*fin de la mise en style du bouton haut de page (back to top)--------*/
#mentions{
  background-color: white;
  text-align: justify;
  padding: 8px;
}

#mentions article{
  margin-left: 10px;
  margin-right: 15px;
  text-indent: 70px;
  line-height: 25px;
  margin-top: 20px;
}

#qui-sommes-nous{
  text-align: justify;
  padding:8px;
}

#qui-sommes-nous{
  margin-left: 10px;
  margin-right: 10px;
  text-indent: 50px;
  line-height: 20px;
}
