*{
  margin:0px;
  padding: 0px;
}

body{
background-image: url("../img/jouet2.jpeg");
background-attachment:fixed;
background-size: contain;
  }

#content{
  width: 80%;
  margin: auto;
}

#content nav{
  background-color:#FF9800;
}

#content nav img{
  height: 80px;
}

#content nav ul{
  list-style-type: none;
  float: right;
}

#content nav ul li{
  float: left;
  padding-left: 10px;
  line-height: 80px;

}
li{
  list-style-type: none;
  background-color:white;
}

.ul id{
  border-color: purple;
  background-color: black;
}
