#memory, #memory td, #memory tr{
  border: 1px solid black;
}

#memory{
    width: 40%;
    margin: auto;
}

#memory td{
  background-size: 100% 100%;
}

#memoryPlayer{
    width: 40%;
    margin: auto;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

#memoryScore{
    width : 20%;
    border-collapse: collapse;
    position: absolute;
    top: 30%;
    right: 30px;
}

#memoryScore tr{
}

#memoryScore td{
    width: 50%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#memoryScore tr td:last-child{
    border-left : 2px solid black;
}

#memoryScore tr:first-child{
    border-bottom: 2px solid black;
}

#memoryScore tr:last-child{
    height: 100px;
    font-size : 24px;
}

.memoryVictory{
    position: fixed;
    top : 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color : white;
    border : 5px solid orange;
    border-radius: 25px;
    padding : 25px;
    text-align: center;
}
