#memory, #memory td, #memory tr{
  border: 1px solid black;
}

#memory{
    width: 40%;
    margin: auto;
}

#memory td{
  background-size: 100% 100%;
}

#memoryPlayer{
    width: 40%;
    margin: auto;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;   
}
