
/*ajout de luc */

#content{
  background-color: white;
}

#affichage_produit{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

#affichage_produit li{
  display: flex;
  margin: auto;
}

#affichage_produit img{
  width: 200px;
  height: 200px;
  max-width: 80%;
  min-width: 20%;
}

#affichage_produit div{
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  padding: 5px;
}
