/* Class selector*/

.basage{
    background-color: #f9437d;
}
.filles{
    background-color: pink;
}
.garcons{
    background-color: pink;
}
.jeuxvideos{
    background-color: pink;
}
.jeuxdesociete{
    background-color: pink;
}
/*ajout de luc */
#affichage_produit{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

#affichage_produit li{
  display: flex;
  margin: auto;
}

#affichage_produit img{
  width: 200px;
  height: 200px;
  max-width: 80%;
  min-width: 20%;
}

#affichage_produit .produit{
  width: 300px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  padding: 0px;
  border: 1px solid #BDBDBD;
  border-radius: 15px;
  margin-top : 20px;
}

#affichage_produit .description{
    display: none;
    color: #757575;
}

#affichage_produit div img:hover{
  opacity: 0.5;
}

#affichage_produit .prix{
  color: #F57C00;
  font-weight: bolder;
  width: 45%;
  font-size: 22px;
  display: inline-block;
}

#affichage_produit .addBasket{
    width: 45%;
    display: inline-block;
    line-height: 20px;
    background-color: #BDBDBD;
    border: 1px outset grey;
    border-radius: 25px;
    cursor: pointer;
}

#affichage_produit .addBasket:hover{
    font-weight: bold;
}

#affichage_produit .addBasket:active{
    font-weight: bold;
    border: 1px inset grey;
}

#affichage_produit h2{
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

section{
    margin-bottom: 15px;
}

#ban_image{
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
