.slider{
    width : 100%;
    height : 200px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.slider .slider-content{
    width : 100%;
    height: 200px;
    flex: 1 0 200px;
    position: relative;
    left : 0px;
    transition: left 1s;
}

.arrow-left, .arrow-right{
    width : 50px;
    height : 100%;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,224,178,0);
    position: absolute;
    cursor: pointer;
    transition: all 0.5s;
}

.arrow-left:hover, .arrow-right:hover{
    background-color: rgba(255,224,178,0.4);
}

.arrow-left{
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-right{
    right: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.slider img{
    min-width: 20%;
    width: 100%;
    height: 200px;
}
